@media (max-width:600px){
    .first{
        height : 100vh;
        width : 100%;
        padding : 20px 10px;
        background : linear-gradient(to right, rgba(0,0,0,0.3),rgba(0,0,0,0.5)),url(../../pics/intro.jpg);
        background-repeat: no-repeat;
        background-size: cover;   
        display: flex;
        justify-content: center;
        align-items: center;
    }
     
    

        
    .text{
        height : auto;
        width : 100%;
        
        
        h3{
            background: linear-gradient(to left, #00ffff 0%, #97fba0 25%, #97b1fb 50%, #00ffff 100%) repeat;
            background-clip : text;
            -webkit-text-fill-color : transparent;
            font-weight: 3vw;
            text-transform: uppercase;
            font-family: 'montserrat';
            letter-spacing: 0.5vw;
            animation : masked-animation 50s linear infinite;
        }
    }
    @keyframes masked-animation {
        0% {
        background-position: 0 0;
        }
        100% {
        background-position: -8000px -3000px;
        }
    }
    
}
